<p>
  <strong>Name:</strong>
  <%= @product.name %>
</p>

<p>
  <strong>Price:</strong>
  <%= @product.price %>
</p>

<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>

<p>
  <strong>Categories</strong>
  <% @product.product_categories.each do |category| %>
      <%= "#{category.name}; " %>
  <% end %>
</p>